kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: auth-role
rules:
  - apiGroups: [ "" ]
    resources: [ "services", "configmaps", "secrets","endpoints" ]
    verbs: [ "get", "watch", "list" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: role-grantor-binding
  namespace: auth
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: auth-role
subjects:
  - kind: ServiceAccount
    name: default
    namespace: auth