# Source: auth-namespace.yaml
# 创建命名空间 Create Namespace
apiVersion: v1
kind: Namespace
metadata:
  name: auth
---
# Source: auth-role.yaml
# 创建集群角色 Create Cluster
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: auth-role
rules:
  - apiGroups: [""]
    resources: ["services", "configmaps", "secrets","endpoints"]
    verbs: ["get", "watch", "list"]
---
# 绑定角色 Role Binding
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: role-grantor-binding
  namespace: auth
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: auth-role
subjects:
- kind: ServiceAccount
  name: default
  namespace: auth
---
# Source: auth-database-config.yaml
# 创建数据库配置 Create Database Configuration
apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-database-config
  namespace: auth
data:
  initdb.sql: |-
    CREATE DATABASE IF NOT EXISTS auth;
---
# Source: auth-service-config.yaml
# 创建 Auth 服务配置 Create Auth Service Configuration
apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: auth
data:
  application.yaml: |-
    mysql:
      host: "auth-database" # MySQL 服务器地址
      port: 3306            # MySQL 服务端口
      db: auth              # MySQL 数据库
      charset: "utf8"       # 字符编码
      ssl: false            # 连接启用 SSL
      username: "root"      # 数据库用户名
      password: "123456"    # 数据库密码
    redis:
      host: "auth-cache"    # Redis 服务器地址
      port: 6379           # Redis 服务端口
      password: ""          # Redis 密码
    #smtp:
    #  host: "smtp.exmail.qq.com" # SMTP 服务器地址
    #  user: "YOUR_USERNAME"
    #  pass: "YOUR_PASSWORD"

    dustlight:
      auth:
        storage:
          storage-type: local # 储存模式，可选本地储存或者云储存。（local | storage）
          prefix: "upload/auth/" # 储存地址前缀：本地储存模式时代表本地储存目录，云储存模式则代表存储对象 key 的前缀。
    #      base-url: "https://accounts.dustlight.cn/" # 当启用云储存时，自定义生成访问链接的域名以及协议。（通常用于 CDN 或者自定义域名）
    #      simple-mode: true # 当云储存启用时，是否忽略对象 URL 的 Query 部分，以便前端能够利用缓存减少请求次数提高访问速度。（仅适用于公有读储存桶）
    #      default-expiration: 900000 # 当云储存启用时，生成签名的有效期。（单位为毫秒，默认为15分钟）
        service:
          pattern:
            username: "^[a-zA-Z]([-_a-zA-Z0-9]{5,19})$" # 用户名正则限制
            email: "^\\S+@\\S+$"  # 邮箱地址正则限制
            password: "^.{6,20}$" # 密码正则限制
      # 验证码配置，详情请参考：https://github.com/dustlight-cn/captcha
      captcha:
        default:
          store:
            name: redisCodeStore
        recaptcha:
          default-secret: "6Lcp1xAaAAAAAJh6jmR8oWjEiqwGgbBTS7BnDpbX" # 谷歌 reCAPTCHA 服务的密钥
          default-parameter-name: "g-recaptcha-response" # 请求参数名（更该此项必须配合前端更改）
        generator:
          random-string:
            chars: "0123456789" # 生成随机字符验证码的字符池
            length: 6 # 随机字符验证码的长度
        verifier:
          string-equals:
            trim: true
      # 对象存储配置，详情请参考：https://github.com/dustlight-cn/storage
      storage:
    #    alibaba:
    #      oss:
    #        access-key-id: YOUR_ACCESS_KEY_ID
    #        secret-access-key: YOUR_SECRET_ACCESS_KEY
    #        bucket: YOUR_BUCKET_NAME
    #        endpoint: YOUR_BUCKET_ENDPOINT
    #    tencent:
    #      cos:
    #        secret-key: YOUR_SECRET_KEY
    #        secret-id: YOUR_SECRET_ID
    #        bucket: YOUR_BUCKET_NAME
    #        region: YOUR_BUCKET_REGION

    spring:
      application:
        name: auth-service  # 应用名
      cloud:
        kubernetes:
          config:
            name: ${spring.application.name}  # Kubernetes 配置名称
            namespace: auth
          reload:
            enabled: true # 是否监听 Kubernetes 配置更改
      datasource:
        url: jdbc:mysql://${mysql.host:localhost}:${mysql.port:3306}/${mysql.db}?characterEncoding=${mysql.charset:utf8}&useSSL=${mysql.ssl:false}&allowPublicKeyRetrieval=true
        username: ${mysql.username}
        password: ${mysql.password}
        hikari:
          connection-timeout: 30000
          idle-timeout: 600000
          max-lifetime: 1800000
          maximum-pool-size: 8  # 数据库连接池最大连接数
          minimum-idle: 2       # 数据库连接池最小连接数
        initialization-mode: always   # 启动时是否自动建表以及导入默认数据
        schema: classpath:scheme.sql
        data: classpath:data.sql
      redis:
        host: ${redis.host}
        port: ${redis.port}
        password: ${redis.password}
      mail:
        host: ${smtp.host:smtp.exmail.qq.com} # SMTP 服务器地址
        username: ${smtp.user}                # SMTP 用户名
        password: ${smtp.pass}                # SMTP 密码
      mvc:
        throw-exception-if-no-handler-found: true
      resources:
        add-mappings: false

    springdoc:
      api-docs:
        path: /v1/api-doc # OpenAPI 路径
      swagger-ui:
        path: /v1/swagger-ui # Swagger UI 路径

    logging:
      level:
        cn.dustlight.*: debug
---
# Source: auth-database.yaml
# 创建数据库服务 Create Database Service
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: auth-database
  namespace: auth
  labels:
    app: auth-database
spec:
  serviceName: auth-database
  replicas: 1
  selector:
    matchLabels:
      app: auth-database
  template:
    metadata:
      labels:
        app: auth-database
    spec:
      containers:
      - name: auth-database
        image: mysql:latest
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "123456"
        ports:
        - containerPort: 3306
          name: db-port
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql
        - name: mysql-initdb
          mountPath: /docker-entrypoint-initdb.d
      dnsPolicy: ClusterFirst
      volumes:
      - name: mysql-initdb
        configMap:
          name: auth-database-config
          items: 
          - key: initdb.sql
            path: initdb.sql
  volumeClaimTemplates:
  - metadata:
      name: mysql-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: auth-database
  namespace: auth
  labels:
    app: auth-database
spec:
  ports:
  - port: 3306
    name: db-port
  selector:
    app: auth-database
---
# Source: auth-cache.yaml
# 创建缓存服务 Create Cache Service
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: auth-cache
  namespace: auth
  labels:
    app: auth-cache
spec:
  serviceName: auth-cache
  replicas: 1
  selector:
    matchLabels:
      app: auth-cache
  template:
    metadata:
      labels:
        app: auth-cache
    spec:
      containers:
      - name: auth-cache
        image: redis:latest
        ports:
        - containerPort: 6379
          name: cache-port
        volumeMounts:
        - name: cache-data
          mountPath: /data
      dnsPolicy: ClusterFirst
  volumeClaimTemplates:
  - metadata:
      name: cache-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: auth-cache
  namespace: auth
  labels:
    app: auth-cache
spec:
  ports:
  - port: 6379
    name: cache-port
  selector:
    app: auth-cache
---
# Source: auth-service.yaml
# 创建 Auth 服务 Create Auth Service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: auth
  labels:
    app: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: dustlightcn/auth-service:1.0.5-alpha
          # 配置 SMTP 服务后开启健康检查，否则检查将失败。
          # livenessProbe:
          #   failureThreshold: 3
          #   httpGet:
          #     path: /actuator/health
          #     port: 8080
          #     scheme: HTTP
          #   initialDelaySeconds: 70
          #   periodSeconds: 70
          #   successThreshold: 1
          #   timeoutSeconds: 1
          # readinessProbe:
          #   failureThreshold: 3
          #   httpGet:
          #     path: /actuator/health
          #     port: 8080
          #     scheme: HTTP
          #   initialDelaySeconds: 70
          #   periodSeconds: 10
          #   successThreshold: 1
          #   timeoutSeconds: 1
          ports:
          - containerPort: 8080
            name: auth-port
          volumeMounts:
          - name: config
            mountPath: /application.yaml
            subPath: application.yaml
      initContainers:
      - name: init-cache
        image: busybox
        command: ['sh', '-c', "until nc -z auth-cache 6379; do echo waiting for cache; sleep 2; done"]
      - name: init-database
        image: busybox
        command: ['sh', '-c', "until nc -z auth-database 3306; do echo waiting for database; sleep 2; done"]
      volumes:
        - name: config
          configMap:
            name: auth-service-config
            items:
            - key: application.yaml
              path: application.yaml
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: auth
  labels:
    app: auth-service
spec:
  ports:
  - port: 80
    targetPort: 8080
    name: auth-port
  selector:
    app: auth-service
  type: NodePort
