name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ ]

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v1.8.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.5
    - name: Build Auth-UI
      run: |
        cp -r auth-client-axios auth-ui/auth-client-axios
        cd auth-client-axios && npm i && cd ..
        cd auth-ui && npm i
        sudo npm install -g @quasar/cli
        quasar build
    - name: Build Auth-Service
      run: mvn package -DskipTests
    - name: Copy Jar
      run: |
        cd auth-service/target
        find -name "*-sources.jar" -exec rm {} \;
        find -name "*-javadoc.jar" -exec rm {} \;
        jarName=`find *.jar`
        tagName=${jarName%.jar}
        tagName=${tagName#auth-service-}
        cp $jarName ../../auth-service.jar
        echo "jarName=$jarName" >> $GITHUB_ENV
        echo "tagName=$tagName" >> $GITHUB_ENV
    - name: Build and push Service Docker images
      uses: docker/build-push-action@v2.3.0
      with:
        context: .
        push: true
        tags: |
          dustlightcn/auth-service:${{  env.tagName  }}
          dustlightcn/auth-service:latest
    - name: Build and push UI Docker images
      uses: docker/build-push-action@v2.3.0
      with:
        context: auth-ui
        push: true
        tags: |
          dustlightcn/auth-ui:${{  env.tagName  }}
          dustlightcn/auth-ui:latest
    
